In [1]:
import re
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

### Question 1. Scrape the details of most viewed videos on YouTube from Wikipedia. 
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ')

In [4]:
# creating variable list
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [5]:
#scraping Ranks of the video
try:
    rank_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr')
    for i in rank_tag:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
#scraping names of the video
try:
    names=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
#scraping artist of the video
try:
    artists=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for i in artists:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')
    
#scraping dates of the video
try:
    date=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
    for i in date:    
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('-')
    
#scraping views of the video
try:
    views=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for i in views:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [6]:
#Creating dataframe
Youtube=pd.DataFrame({"Ranks":Rank,"Names":Name,"Artists":Artist,"Uploaded Date":Upload_Date,"Views":Views})
Youtube

,Ranks,Names,Artists,Uploaded Date,Views
0,"""Baby Shark Dance""[6] Pinkfong Baby Shark - Ki...","""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.84
1,"""Despacito""[9] Luis Fonsi 8.34 January 12, 201...","""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.34
2,"""Johny Johny Yes Papa""[17] LooLoo Kids - Nurse...","""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.86
3,"""Bath Song""[18] Cocomelon - Nursery Rhymes 6.5...","""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.55
4,"""Shape of You""[19] Ed Sheeran 6.17 January 30,...","""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.17
5,"""See You Again""[22] Wiz Khalifa 6.13 April 6, ...","""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.13
6,"""Wheels on the Bus""[27] Cocomelon - Nursery Rh...","""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.79
7,"""Phonics Song with Two Words""[28] ChuChu TV Nu...","""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.63
8,"""Uptown Funk""[29] Mark Ronson 5.12 November 19...","""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.12
9,"""Learning Colors – Colorful Eggs on a Farm""[30...","""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.04
10,"""Gangnam Style""[31] Psy 5.00 July 15, 2012 [E]","""Gangnam Style""[31]",Psy,"July 15, 2012",5.00
11,"""Masha and the Bear – Recipe for Disaster""[36]...","""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,"""Dame Tu Cosita""[37] Ultra Records 4.51 April ...","""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.51
13,"""Axel F""[38] Crazy Frog 4.24 June 16, 2009","""Axel F""[38]",Crazy Frog,"June 16, 2009",4.24
14,"""Sugar""[39] Maroon 5 3.98 January 14, 2015","""Sugar""[39]",Maroon 5,"January 14, 2015",3.98
15,"""Counting Stars""[40] OneRepublic 3.94 May 31, ...","""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.94
16,"""Roar""[41] Katy Perry 3.93 September 5, 2013","""Roar""[41]",Katy Perry,"September 5, 2013",3.93
17,"""Baa Baa Black Sheep""[42] Cocomelon - Nursery ...","""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.90
18,"""Lakdi Ki Kathi""[43] Jingle Toons 3.82 June 14...","""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.82
19,"""Waka Waka (This Time for Africa)""[44] Shakira...","""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.81
20,"""Sorry""[45] Justin Bieber 3.75 October 22, 2015","""Sorry""[45]",Justin Bieber,"October 22, 2015",3.75
21,"""Thinking Out Loud""[46] Ed Sheeran 3.71 Octobe...","""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.71
22,"""Humpty the train on a fruits ride""[47] Kiddie...","""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.68
23,"""Dark Horse""[48] Katy Perry 3.65 February 20, ...","""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.65
24,"""Perfect""[49] Ed Sheeran 3.63 November 9, 2017","""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.63
25,"""Shree Hanuman Chalisa""[50] T-Series Bhakti Sa...","""Shree Hanuman Chalisa""[50]",T-Series Bhakti Sagar,"May 10, 2011",3.61
26,"""Let Her Go""[51] Passenger 3.58 July 25, 2012","""Let Her Go""[51]",Passenger,"July 25, 2012",3.58
27,"""Faded""[52] Alan Walker 3.57 December 3, 2015","""Faded""[52]",Alan Walker,"December 3, 2015",3.57
28,"""Girls Like You""[53] Maroon 5 3.54 May 31, 2018","""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.54
29,"""Lean On""[54] Major Lazer Official 3.52 March ...","""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.52

### 2.	Scrape the details team India’s international fixtures from bcci.tv.   
Url = https://www.bcci.tv/.   
You need to find following details:   
A)	Series   
B)	Place   
C)	Date   
D)	Time   
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [8]:
driver=webdriver.Chrome()

In [9]:
driver.get(' https://www.bcci.tv/.')

In [10]:
designated_btn=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
designated_btn.click()

In [11]:
more_match=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[2]/div[2]/div/button')
more_match.click()

In [12]:
#creating empty list
series=[]
place=[]
date=[]
time=[]

In [13]:
place_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in place_tag:
    place.append(i.text)

date_tag=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[1]')
for i in date_tag:
    date.append(i.text)

time_tag=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[2]')
for i in time_tag:
    time.append(i.text)

series_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tag:
    series.append(i.text)
    
fixture=pd.DataFrame({"Series":series,"Place":place,"Date":date,"Time":time})
fixture

,Series,Place,Date,Time
0,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,Mumbai,"2 JANUARY, 2024",8:00 AM GMT
1,INDIA TOUR OF SOUTH AFRICA 2023-24,Cape Town,"3 JANUARY, 2024",8:00 AM GMT
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,NAVI MUMBAI,"5 JANUARY, 2024",1:30 PM GMT
3,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,NAVI MUMBAI,"7 JANUARY, 2024",1:30 PM GMT
4,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,NAVI MUMBAI,"9 JANUARY, 2024",1:30 PM GMT
5,AFGHANISTAN TOUR OF INDIA 2023-24,Mohali,"11 JANUARY, 2024",1:30 PM GMT
6,AFGHANISTAN TOUR OF INDIA 2023-24,Indore,"14 JANUARY, 2024",1:30 PM GMT
7,AFGHANISTAN TOUR OF INDIA 2023-24,Bengaluru,"17 JANUARY, 2024",1:30 PM GMT
8,ENGLAND TOUR OF INDIA 2023-24,Hyderabad,"25 JANUARY, 2024",4:00 AM GMT
9,ENGLAND TOUR OF INDIA 2023-24,Visakhapatnam,"2 FEBRUARY, 2024",4:00 AM GMT
10,ENGLAND TOUR OF INDIA 2023-24,Rajkot,"15 FEBRUARY, 2024",4:00 AM GMT
11,ENGLAND TOUR OF INDIA 2023-24,Ranchi,"23 FEBRUARY, 2024",4:00 AM GMT
12,ENGLAND TOUR OF INDIA 2023-24,Dharamsala,"7 MARCH, 2024",4:00 AM GMT

In [14]:
driver.close()

### 3. Scrape the details of State-wise GDP of India from statisticstime.com.   
Url = http://statisticstimes.com/   
You have to find following details: A) Rank   B) State   
C)	GSDP(22-23)- at current prices   
D)	GSDP(21-22)- at current prices   
E)	Share(21-22)   
F)	GDP($ billion)   
Note: - From statisticstimes home page you have to reach to economy page through code.

In [15]:
driver=webdriver.Chrome()

In [16]:
driver.get(' http://statisticstimes.com/')

In [17]:
#clicking on economy
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
#clicking india
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [18]:
gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [19]:
#creating empty list
rank=[]
state=[]
GSDP=[]
share=[]
GDP=[]

In [20]:
try:
    rank_tag=driver.find_elements(By.XPATH,'//td[@class="data1"]')
    for i in rank_tag:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('_')
try:
    state_tag=driver.find_elements(By.XPATH,'//td[@class="name"]')
    for i in state_tag:
        state.append(i.text)
except NoSuchElementEception:
    state.append('_')
try:
    gsdp=driver.find_elements(By.XPATH,'//td[@class="data"][1]')
    for i in gsdp:
        GSDP.append(i.text)
except NoSuchElementException:
    GSDP.append('_')
try:
    shares=driver.find_elements(By.XPATH,'//td[@class="data"][2]')
    for i in shares:
        share.append(i.text)
except NoSuchElementException:
    share.append('_')
try:
    Gdp=driver.find_elements(By.XPATH,'//td[@class="data"][3]')
    for i in Gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('_')

In [21]:
print(len(rank),len(state),len(GSDP),len(share),len(GDP))

68 68 68 68 68

In [22]:
India_GDP=pd.DataFrame({"Rank":rank,"State":state,"GSDP":GSDP,"Shares":share,"GDP (Billion)":GDP})
India_GDP

   Rank                      State        GSDP      Shares GDP (Billion)
0     1                Maharashtra           -      13.24%       417.163
1     2                 Tamil Nadu   2,364,514       8.82%       278.011
2     3              Uttar Pradesh   2,257,575       8.41%       265.024
3     4                  Karnataka   2,241,368       8.36%       263.440
4     5                    Gujarat           -       8.25%       259.996
..  ...                        ...         ...         ...           ...
63   30                     Sikkim      35,670       0.16%        17,832
64   31                   Nagaland           -       0.14%             -
65   32                    Mizoram           -       0.12%             -
66   33  Andaman & Nicobar Islands           -       0.05%             -
67                           India  23,823,945  20,326,803

[68 rows x 5 columns]

In [23]:
driver.close()

### 4.	Scrape the details of trending repositories on Github.com.   
Url = https://github.com/   
You have to find the following details:   
A)	Repository title   
B)	Repository description   
C)	Contributors count   
D)	Language used   
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [24]:
driver=webdriver.Chrome()

In [25]:
driver.get('https://github.com/')

In [26]:
explore=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
explore.click()

In [27]:
trend_url=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
urls=trend_url.get_attribute('href')
driver.get(urls)

In [30]:
#creating empty list
repository_titles=[]
description=[]
contributors=[]
language=[]
URL=[]

In [31]:
repository=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in repository:
    URL.append(i.get_attribute("href"))
    
title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in title:
    repository_titles.append(i.text)
    
    
try:
    desc=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in desc:
        description.append(i.text)
except NoSuchElementException:
    description.append('_')
try:
    cont=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
    for i in cont:
        contributors.append(i.text)
except NoSuchElementException:
    contributors.append('_')
try:
    lang=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
    for i in lang:
        language.append(i.text)
except NoSuchElementException:
    language.append('_')

In [32]:
print(len(repository_titles),len(description),len(contributors),len(language))

25 24 25 22

### 5.	Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the following details:   
A)	Song name   
B)	Artist name   
C)	Last week rank   
D)	Peak rank   
E)	Weeks on board

In [34]:
driver=webdriver.Chrome()

In [35]:
driver.get('https:/www.billboard.com/ ')

In [36]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a').click()

In [37]:
billboard=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a').click()

In [38]:
Song_name=[]
Artist_name=[]
last_wk_rank=[]
peak_rank=[]
wks_on_board=[]

In [ ]:
name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in name:
    Song_name.append(i.text)
artist=driver.find_elements(By,XPATH,'')
last_wk=driver.find_elements(By.XPATH,'')

### 6.	Scrape the details of Highest selling novels.   
A)	Book name   
B)	Author name   
C)	Volumes sold   
D)	Publisher   
E)	Genre   
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [2]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [6]:
#creating list
Book_name=[]
Author_name=[]
Volumes_sold=[]
publisher=[]
genre=[]

for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]'):
    Book_name.append(i.text)
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]'):
    Author_name.append(i.text)
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]'):
    Volumes_sold.append(i.text)
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]'):
    publisher.append(i.text)
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]'):
    genre.append(i.text)
    
Novels=pd.DataFrame({"Book Name":Book_name,"Author Name":Author_name,"Volumes Sold":Volumes_sold,"Publisher":publisher,"Genre":genre})
Novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [7]:
driver.close()

### 7.	Scrape the details most watched tv series of all time from imdb.com.   
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:   
A)	Name   
B)	Year span   
C)	Genre   
D)	Run time   
E)	Ratings   
F)	Votes

In [10]:
driver=webdriver.Chrome()

In [11]:
driver.get(' https://www.imdb.com/list/ls095964455/')

In [12]:
error_msg=driver.find_element(By.XPATH,'/html/body/div/div[1]/a').click()

In [15]:
bar_line=driver.find_element(By.XPATH,'/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/label').click()

In [16]:
top_tv=driver.find_element(By.XPATH,'/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/div/div/ul/a[2]').click()

In [21]:
#creating empty list
Name=[]
year_span=[]
ratings=[]

for i in driver.find_elements(By.XPATH,'//a[@class="ipc-poster-card__title ipc-poster-card__title--clamp-2 ipc-poster-card__title--clickable sc-6344d194-1 cCeJbF gli-title"]'):
    Name.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="sc-6344d194-5 dvcRih gtc-title-metadata"]'):
    year_span.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="sc-6344d194-3 koCRDB"]/div/div[1]/span'):
    ratings.append(i.text)

In [22]:
print(len(Name),len(year_span),len(ratings))

250 250 250

In [27]:
TV_series=pd.DataFrame({"Name":Name,"Year Span/Run Time":year_span,"Ratings/Vote":ratings})

In [28]:
TV_series

                                   Name Year Span/Run Time  Ratings/Vote
0                       1. Breaking Bad   2008–2013 62 eps  9.5\n (2.1M)
1                    2. Planet Earth II         2016 6 eps  9.5\n (155K)
2                       3. Planet Earth        2006 11 eps  9.4\n (218K)
3                   4. Band of Brothers        2001 10 eps  9.4\n (510K)
4                          5. Chernobyl         2019 5 eps  9.3\n (838K)
..                                  ...                ...           ...
245                      246. Cobra Kai   2018–2023 51 eps  8.5\n (201K)
246                      247. Southland   2009–2013 43 eps   8.5\n (29K)
247               248. Alchemy of Souls       2022– 30 eps   8.8\n (15K)
248  249. The Great British Baking Show      2010– 177 eps   8.6\n (12K)
249                    250. I Love Lucy  1951–1957 181 eps   8.5\n (28K)

[250 rows x 3 columns]

In [29]:
driver.close()